body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: absolute;
    top: 28%;
    left: 14%;
    color: aliceblue;
    font-size: larger;
    text-transform: uppercase;
}

.srilanka {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 170px;
    letter-spacing: 12px;
    font-weight: bold;
    opacity: 0;
    display: inline-block;
    animation: animate 1.25s linear forwards;
    text-align: center;
    justify-content: center;
}

@keyframes animate {
    51% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.welcometo {
    margin-left: 35%;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
    opacity: 0;
    animation: animateTitle 1.10s linear forwards;
}

@keyframes animateTitle {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.b-image {
    background-image: url("Student1_Presentation_img/main08.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
    text-align: center;
    align-items: center;
}

.team-details {
    position: absolute;
    top: 63%;
    left: 36%;
    color: aliceblue;
    font-size: larger;
    opacity: 0;
    animation: animateTeam 2s linear forwards;
}

@keyframes animateTeam {
    70% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.teamName {
    font-family: 'Josefin Sans', sans-serif;
    word-spacing: 35px;
    margin-left: 10px;
    overflow: hidden;
}

.teamHeading {
    margin-left: 25%;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;
}