*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Segoe UI",Verdana, Geneva, Tahoma, sans-serif;
    background:white;
    line-height: 1.5;
    font-size: 15px;
    color: black;
}
/* zoom button*/

.zoom {
    width: 18px;
    height: 18px;
}

a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    width: 95%;
    max-width: 1100;
    margin: auto;
    padding:0px 0px 30px 0px;
}

.zoom {
    width:18px;
    height:18px;
}

/* main nav bar */

.main{
    display: flex;
    height: 60px;
    padding: 18px 0 ;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    background: #C9C6C6;
    margin-bottom: 28px;
    
}

.main-menu{
    display: flex;
    
}
.main ul.main-menu{
    flex:1;
    margin-left: 20px;
}

.main .logo{
    width:100px

}

.main ul li{
    padding: 0 12px;
}

.main ul li a:hover{
    color: black;
    text-underline-position: below;
    border-radius:2px;
    border-bottom:2px solid sienna;
}

.menuRgt{
    margin-right: 20px;
}

/* menu button */

.menuBtn{
cursor: pointer;
position: absolute;
top: 6px;
z-index: 2;
display: none;
right:120px;

}





/* footer */
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.footer{
    width:100%;
    background:#C9C6C6;
    display: block;
    margin: auto;
}
.in-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: left;
}
.footer-items{
    width:25%;
    padding:10px 20px;
    box-sizing: border-box;
}

.border{
    height: 2px;
    width: 76%;
    background-color: #771110;
}

ul{
    list-style:none ;
    color:black;
    font-size: 15px;
    letter-spacing: 0.5px;
}
ul a{
    text-decoration: none;
    outline:none;
    color:black;
    transition: 0.3%;
    letter-spacing: 0.5px;

}
ul a:hover{
    color: #771110;
}
ul li{
    margin: 10px 0;
    height: 25px;
}
li i{
    margin-right: 20px;
}

h4{
    padding:10px 0;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    font-weight: lighter;
}

.social-media{
    width:100%;
    color: #fff;
    text-align: left;
}
.social-media a{
    text-decoration: none;
}
.social-media i{
    height: 15px;
    width: 15px;
    padding: 14px;
    border: 1px solid white;
    border-radius: 50%;
    color:#fff;
    margin: 20px 10px;
}
.social{
    padding: 18px 0px;
}
.footer-bottom{
    background: #3d3d3d;
    color: #fff;
    font-size: 12px;
    padding: 3.5px;
}
.buttonbt{
    padding: 15px;
    float: right;
    font-size: 15px;
    border: none;
    outline: unset;
    text-align: center;
    background-color:transparent;
    text-decoration: none;
    color: black;
    shape-outside: unset;
    position: relative;
    z-index: 98;
    cursor: pointer;
  
}

/* scale */

@media(max-width: 700px){

    .menuBtn{
        display: block;
    }

    .menuBtn:hover{
        opacity: 0.5;
    }

    .main ul.main-menu{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        background: grey;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        width: 50%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
        transform: translateX(-400px);
    
    }
    .main ul.main-menu.show{
        transform: translateX(-20px);

    }

    .main ul.main-menu li{
        padding: 10px;
        font-size: 15px;
    }
  
}

